.title, .sidebar-title, h1, h2, h3 {
  font-weight:900;
  color: #3d6da9;
  font-family: Garamond;
}

.enlarge-image {
    transition: transform .2s ease-out;
    cursor: pointer;
}

.enlarge-image:hover {
    transform: scale(1.6);
    display: block;
    background: #eee;
    border: 2px solid #27466C; 
    position: relative;
    float: left;
    z-index: 999;
}
.enlarge-image:hover .inline-figure, .figure {
  margin:  0rem 0rem 0rem 0rem; 
  padding: 0rem 0rem 0rem 0rem;
}

.table {
  border-collapse: collapse;
  width: 80%;
}

.table, .tbody, .th {
  padding: 8px;
  text-align: center;
  border-bottom: 2px solid #ddd;
  border-top: 2px solid #ddd;
}
